<div class="trading-container">
    <div class="left-menu float-left">
        <div class="menu-section" id="trading-section7" data-type="home">
            <div class="table">
                <div class="cell font-14">
                    Home
                </div>
            </div>
        </div>
        <div class="menu-section active" id="trading-section1" data-type="market">
            <div class="table">
                <div class="cell font-14">
                    Market
                </div>
            </div>
        </div>
        <div class="menu-section" id="trading-section2" data-type="trade">
            <div class="table">
                <div class="cell font-14">
                    Buy
                </div>
            </div>
        </div>
        <div class="menu-section" id="trading-section3" data-type="my-harvest">
            <div class="table">
                <div class="cell font-14">
                    Sell
                </div>
            </div>
        </div>
        <div class="menu-section" id="trading-section4" data-type="my-deliveries">
            <div class="table">
                <div class="cell font-14">
                    My Deliveries
                </div>
            </div>
        </div>
        <div class="menu-section" id="trading-section5" data-type="get-crobs">
            <div class="table">
                <div class="cell font-14">
                    CROB
                </div>
            </div>
        </div>
        <div class="menu-section" id="trading-section6" data-type="transfer-credit">
            <div class="table">
                <div class="cell font-14">
                    Fund Transfer
                </div>
            </div>
        </div>
    </div>
    <div class="right-container float-left" id="right-container" align="center">

    </div>
    <div class="clear"></div>
    <div class="offerPopupKeyur1" id="trading-popup" style="display: none">
        <div class="table">
            <div class="cell">
                <div class="outer">
                    <div class="table">
                        <div class="cell">
                            <div class="inner">
                                <div class="header-menu-offer">
                                    <div style="height: 5%"></div>
                                    <div class="headerText font-18" id="popup-text">OFFER</div>
                                    <hr>
                                    <div style="height: 5%"></div>
                                    <div class="popup-container" id="popup-container" align="center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="closeButton">

        </div>
    </div>
</div>