@font-face {
    font-family: 'JackInput';
    src: url('fonts/JackInput.eot');
    src: url('fonts/JackInput.eot?#iefix') format('embedded-opentype'),
    url('fonts/JackInput.woff2') format('woff2'),
    url('fonts/JackInput.woff') format('woff'),
    url('fonts/JackInput.ttf') format('truetype'),
    url('fonts/JackInput.svg#JackInput') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'JackInput';
    font-weight: normal;
    color: #ffffff;

}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body {
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/static-login/login_bg.jpg") left top no-repeat;
    background-size: 100% 100%;
}

.clear {
    clear: both;
}

.clear2 {
    clear: both;
    width: 100%;
    height: 5px;
}

/* ==================================================
   image responsive Start
================================================== */
img {
    border: 0;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

.img-width {
    width: 100%;
    height: auto;
}

.img-height {
    width: auto;
    height: 100%;
}

/* ==================================================
   Link list Start 
================================================== */
a {
    background-color: transparent
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0
}

a:hover {
    color: #7ddbff;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/*.link1:hover{ opacity:0.6}*/

/* ==================================================
   Button, input, select, textarea list Start
================================================== */

label {
    display: block;
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
    color: inherit;
    letter-spacing: .1rem;
    text-transform: uppercase;
    float: left;
}

input, select, textarea, button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

input, select, textarea {
    width: 100%;
    height: 100%;
}

.input-icon1 {
    width: 8%;
    float: left;
    text-align: left;
}

.input-text1 {
    float: left;
    width: 80%;
}

.input-box {
    width: 100%;
    height: 80px;
    margin-bottom: 4%;
}

.input-box:last-of-type {
    margin-bottom: 1%;
}

.input-box:nth-child(2n) {
    margin-bottom: 1%;
}

.input-div {
    width: 100%;
    height: 50%;
    float: left;
}

label {
    width: 100%;
    height: 33%;
    float: left;
    margin-bottom: 8px;
}

input {
    width: 100%;
    height: 100%;
    -webkit-input-placeholder-color: #939598;
    border: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    padding: 0px 10px;
}

.btn {
    width: 90%;
    margin: 0 auto;
    /*opacity: 0.4;*/
    display: none;
}

/* ==================================================
   Table list Start
================================================== */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0
}

.table {
    width: 100%;
    height: 100%;
    display: table;
}

.cell {
    vertical-align: middle;
    display: table-cell;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

table {
    background-color: transparent
}

/* ==================================================
   Row And col Start
================================================== */
.row {
    width: 100%;
    float: left;
}

/*.col-lg{*/
/*width: 100%;*/
/*}*/
/*.col-lg2{*/
/*width:90%;*/
/*}*/
/*.col-lg3{*/
/*width:80%;*/
/*}*/
/*.col-lg4{*/
/*width:70%;*/
/*}*/
/*.col-lg5{*/
/*width:60%;*/
/*}*/
/*.col-md{*/
/*width: 50%;*/
/*}*/
/*.col-md1{*/
/*width: 40%;*/
/*}*/
/*.col-sm{*/
/*width: 33.33333333%;*/
/*}*/
/*.col-sm2{*/
/*width:25%;*/
/*}*/
/*.col-sm3{*/
/*width:20%;*/
/*}*/
/*.col-sm4{*/
/*width:10%;*/
/*}*/
/*.col-sm5{*/
/*width:5%;*/
/*}*/

.float-lt {
    float: left;
}

.float-rt {
    float: right;
}

/* ==================================================
   height Start
================================================== */
.height-lg {
    height: 100%;
}

.height-lg2 {
    height: 90%;
}

.height-lg3 {
    height: 80%;
}

.height-lg4 {
    height: 70%;
}

.height-lg5 {
    height: 60%;
}

.height-md {
    height: 50%;
}

.height-md2 {
    height: 40%;
}

.height-sm {
    height: 30%;
}

.height-sm2 {
    height: 25%;
}

.height-sm3 {
    height: 20%;
}

.height-sm4 {
    height: 10%;
}

/*.dealers-list-h{*/
/*height: calc(100% - 20%);*/
/*}*/
/*.announcements-list-h{*/
/*height: calc(100% - 10%);*/
/*}*/

/* ==================================================
   padding Start 
================================================== */
/*<!--------- padding Start -------------------->*/
.pd3 {
    padding: 3px;
}

.pd5 {
    padding: 5px;
}

.pd10 {
    padding: 10px;
}

.pd15 {
    padding: 15px;
}

.pd20 {
    padding: 20px;
}

/*<!--------- padding End ---------------------->*/

/*<!--------- padding Top Start -------------------->*/
.pd-top5 {
    padding-top: 5px;
}

.pd-top10 {
    padding-top: 10px;
}

/*<!--------- padding Top End ---------------------->*/

/*<!--------- padding Right Start -------------------->*/
.pd-right5 {
    padding-right: 5px;
}

.pd-right10 {
    padding-right: 10px;
}

/*<!--------- padding Right End ---------------------->*/

/*<!--------- padding Bottom Start -------------------->*/
.pd-bottom5 {
    padding-bottom: 5px;
}

.pd-bottom10 {
    padding-bottom: 10px;
}

.pd-bottom15 {
    padding-bottom: 15px;
}

.pd-bottom20 {
    padding-bottom: 20px;
}

/*<!--------- padding Bottom End ---------------------->*/

/*<!--------- padding Left Start -------------------->*/
.pd-left5 {
    padding-left: 5px;
}

.pd-left10 {
    padding-left: 10px;
}

/*<!--------- padding Left End ---------------------->*/
/*<!--------------------------------------- padding End ------------------------------------------->*/

/* ==================================================
  margin Start
================================================== */
/*<!--------- Margin Start -------------------->*/
.margin-auto {
    margin: 0 auto;
}

/*<!--------- Margin End ---------------------->*/

/*<!--------- Margin Top Start -------------------->*/
.margin-top {
    margin-top: 10%;
}

.margin-top-sm {
    margin-top: 7%;
}

.margin-top5 {
    margin-top: 5%;
}

.margin-t5px {
    margin-top: 5px;
}

.margin-t10px {
    margin-top: 10px;
}

#success .margin-top {
    margin-top: 30%;
}

/*<!--------- Margin Top End ---------------------->*/

/*<!--------- Margin Right Start -------------------->*/
/*<!--------- Margin Right End ---------------------->*/

/*<!--------- Margin Bottom Start -------------------->*/
.margin-b10px {
    margin-bottom: 10px;
}

.margin-b20px {
    margin-bottom: 20px;
}

/*<!--------- Margin Bottom End ---------------------->*/

/*<!--------- Margin Left Start -------------------->*/
/*<!--------- Margin Left End ---------------------->*/
/*<!--------------------------------------- margin End ------------------------------------------->*/

/* ==================================================
  Color Start 
================================================== */
.color1 {
    color: #009be5;
}

.color2 {
    color: #414042;
}

.color3 {
    color: #363636;
}

.color4 {
    color: #bbbbac;
}

.color-w {
    color: #ffffff;
}

/* ==================================================
 Font list Start
================================================== */
.bold {
    font-weight: bold;
}

.regular {
    font-weight: normal;
}

/*<!------ Font size list Start ---------------->*/
.font8 {
    font-size: 8px;
}

.font9 {
    font-size: 9px;
}

.font10 {
    font-size: 10px;
}

.font11 {
    font-size: 11px;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font21 {
    font-size: 21px;
}

.font22 {
    font-size: 22px;
}

.font24 {
    font-size: 24px;
}

.font30 {
    font-size: 30px;
}

.font50 {
    font-size: 50px;
}

/* ==================================================
 Text list Start
================================================== */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.full-height {
    height: 100%;
}

/* ==================================================
	image Start
================================================== */

.img-wlg {
    width: 100%;
    height: auto;
}

.img-wlg1 {
    width: 80%;
    height: auto;
}

.img-wlg2 {
    width: 65%;
    height: auto;
}

.img-wmd {
    width: 50%;
    height: auto;
}

.img-wmd1 {
    width: 40%;
    height: auto;
}

.img-wsm {
    width: 25%;
    height: auto;
}

.img-wsm1 {
    width: 20%;
    height: auto;
}

.img-hlg {
    width: auto;
    height: 100%;
}

.img-hlg1 {
    width: auto;
    height: 75%;
}

.img-hmd {
    width: auto;
    height: 50%;
}

.img-hmd2 {
    width: auto;
    height: 35%;
}

.img-hsm {
    width: auto;
    height: 25%;
}

.logo img, .input-icon1 img {
    float: left;
}

/* ==================================================
	Background color and background-image Start
================================================== */
/*<!------- background color Start ------------->*/
.bg-color1 {
    background-color: rgba(255, 255, 255, 0.1)
}

.bg-color2 {
    background-color: rgba(0, 0, 0, 0.4)
}

.bg-color3 {
    background-color: #ffffff
}

/*<!------- background color End --------------->*/

/*<!------- background image Start ------------->*/
.bg-t {
    background-image: none !important;
}

/*<!------- background image End --------------->*/

/*<!------- background image Repeat Start ------------->*/

/*<!------- background image Repeat End --------------->*/

/*<!------- background image position Start ------------->*/

/*<!------- background image position End --------------->*/

/*<!------- background size Start ------------->*/
/*<!------- background size End --------------->*/

/* ==================================================
	Border Start
================================================== */
/*<!------------ Border Color Start ------------------------->*/
/*<!------- Border color Start ------------->*/
/*<!------- Border color End --------------->*/

/*<!------- Border Color Top Start ----------->*/
.bd-top2px {
    border-top: 2px solid #d1d1d2;
}

.bd-full {
    border: 0.8vh solid #d1d1d2;
}

/*<!------- Border Color Top End ------------->*/

/*<!------- Border Color Bottom Start --------->*/
.bd-bottom1 {
    border-bottom: 1px solid;
}

.bd-bottom2 {
    border-bottom: 2px solid;
}

.bd-bottom3 {
    border-bottom: 3px solid;
}

/*<!------- Border Color Bottom End ----------->*/
.bd-color1 {
    border-color: #088ac7;
}

.bd-color2 {
    border-color: #d1d1d2;
}

.bd-color3 {
    border-color: #e9eff2;
}

/*<!------- Border Color Left Start ---------->*/
/*<!------- Border Color Left End ------------>*/

/*<!------- Border Color Right Start ---------->*/
/*<!------- Border Color Right End ------------>*/
/*<!------------ Border Color End ----------------------------->*/

/* ==================================================
	Border Radius Start
================================================== */
/*<!------- Border Radius Start ------------->*/
.radius-lg-5px {
    border-radius: 5px;
}

.radius-lg-100 {
    border-radius: 100%;
}

/*<!------- Border Radius End --------------->*/

/*<!------- Border Radius Top Left Start ----------->*/
/*<!------- Border Radius Top Left End ------------->*/

/*<!------- Border Radius Top Right Start --------->*/
.border-radius-trbr {
    border-bottom-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
}

.border-radius-trbr {
    border-bottom-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
}

/*<!------- Border Radius Top Right End ----------->*/

/*<!------- Border Color Bottom Left Start ---------->*/
/*<!------- Border Color Bottom Left End ------------>*/

/*<!------- Border Color Bottom Right Start ---------->*/
/*<!------- Border Color Bottom Right End ------------>*/
/*<!------------ Border Radius End -------------------->*/

/* ==================================================
	Icons Start
================================================== */

/* ==================================================
	Position Start
================================================== */
.position-r {
    position: relative;
}

.position-ATL {
    position: absolute;
    top: 0px;
    left: 0px;
}

.position-ATR {
    position: absolute;
    top: 0px;
    right: 0px;
}

.position-ATB {
    position: absolute;
    top: 0px;
    bottom: 0px;
}

/* ==================================================
	Display Start
================================================== */

/* ==================================================
	Overflow Start
================================================== */
.overflow-y {
    overflow-y: scroll;
}

.overflow-x {
    overflow-x: scroll;
}

/* ==================================================
	hover Start
================================================== */
.hover {
}

.hover:hover {
    background-color: #c6e5f6;
}

.main {
    width: 100%;
    height: 100%;
    float: left;
}

/*<!--Header START-->*/
header {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #ffffff;
    float: left;
    font-size: 20px;
}

header .left-div {
    width: 40%;
    float: left;
}

header .center-div {
    width: 14%;
    float: left;
}

header .center-div .days-div {
    width: 155px;
    height: 155px;
    border: 3px solid;
    border-radius: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
}

header .center-div .days-no {
    width: 110px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
}

header .right-div {
    width: 46%;
    float: right;
}

header .col-big {
    width: 326px;
}

header .col-mid {
    width: 287px;
}

header .col-sml {
    width: 209px;
}

header .header-height {
    height: 66px;
}

header .col-bd {
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

header .col-margin-r {
    margin-right: 7px;
}

header .col-margin-b {
    margin-bottom: 10px;
}

header .col-big .left-div {
    width: calc(100% - 127px);
    height: 100%;
    text-align: center;
}

header .col-big .right-div {
    width: 127px;
    float: right;
    height: 100%;
    text-align: center;
}

header .col-mid .left-div {
    width: calc(100% - 127px);
    height: 100%;
    text-align: center;
}

header .col-mid .right-div {
    width: 127px;
    float: right;
    height: 100%;
    text-align: center;
}

header .col-mid .right-div span, header .col-big .right-div span {
    font-size: 20px;
}

header .col-sml .left-div {
    width: calc(100% - 80px);
    height: 100%;
    text-align: center;
}

header .col-sml .right-div {
    width: 80px;
    float: right;
    height: 100%;
    text-align: center;
}

/*<!--Header END-->*/

/*<!--Middle Content START -->*/
.middle-content {
    width: 100%;
    height: 50%;
    float: left;
    /*border-bottom: 1px solid #ffffff;*/
    margin-top: 1%;
}

.middle-content .chart-box {
    width: 24%;
    float: left;
    height: 100%;
}

.middle-content .global-tribe-dominance {
    width: 33%;
    float: left;
    height: 100%;
}

.middle-content .global-study-completion {
    width: 43%;
    float: left;
    height: 100%;
}

.global-tribe-dominance .gtd-content {
    width: 100%;
    /*height: 100%;*/
    float: left;
    border-right: 3px solid;
    border-color: rgba(255, 255, 255, 0.4);
}

/*<!--Middle Content END-->*/

.title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.global-tribe-dominance .title {
    width: 95%;
}

.global-study-completion .title {
    width: 80%;
    margin: 0px 10%;
}

.middle-content .global-study-completion .table {
    height: calc(100% - 50px);
}

.gtb-list {
    width: 95%;
    float: left;
    height: 62px;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.gtb-list .gtb-left {
    width: 56px;
    float: left;
    text-align: center;
    font-size: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.gtb-list .gtb-center {
    width: calc(100% - 166px);
    float: left;
    height: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 21px;
}

.gtb-list .gtb-right {
    width: 110px;
    float: right;
    text-align: center;
    font-size: 30px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

/*<!--Footer Content START -->*/

.footer {
    width: 100%;
    height: 65px;
    float: left;
    margin-top: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid;
    border-color: rgba(255, 255, 255, 1);
    position: relative;
}

.footer .bar-div {
    width: 100%;
    height: 100%;
    float: left;
    background-color: rgba(251, 0, 0, 0.6);
    transition: 1s linear;
}

.footer .footer-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}

/*<!--Footer Content END-->*/
.wait {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 70px;
    text-align: center;
}

.join-rrom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.room-name {
    position: relative;
    top: 4%;
    left: 0;
    width: 100%;
    font-size: 70px;
    text-align: center;
    height:13%;

}
.waiting-user {
    position: relative;
    top: 6%;
    left: 0;
    width: 100%;
    font-size: 40px;
    text-align: center;
    height:13%;

}
.user-connected {
    position: relative;
    top: 4%;
    left: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
    height:13%;

}

.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color:rgba(0,0,0,0.5);
    display: none;
}

.video-close{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #000000;
    /*border: 1px solid #FFFFFF;*/
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;
    font-family: 'MyriadPro-Regular';
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    z-index: 99;
}.video-close:hover{
     color: #f2b407;
 }

 .main-btn-div{
     width: 100%;
     float: left;
     height: 11%;
     padding: 5px 8px;
     border-bottom: 1px solid #ffffff;
 }
 .main-btn-div .cell
 {
     color : orange;
 }

.main-btn-div .btn{
    width: 20%;
    height: 100%;
    /*float: left;*/
    text-align: left;
    padding-left: 70px;
    margin: 0 5% 0 0;
    border: 1px solid #ffffff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.unity-icon{
    background: url("../images/unity-icon.png")15px no-repeat;
    background-size: auto 60%;
}
.hope-icon{
    background: url("../images/hope-icon.png")15px no-repeat;
    background-size: auto 60%;
}
.fear-icon{
    background: url("../images/fear-icon.png")15px no-repeat;
    background-size: auto 60%;
}
.depression-icon{
    background: url("../images/depression-icon.png")15px no-repeat;
    background-size: auto 60%;
}

.main-btn-div .btn:last-of-type{
    margin-right: 0%;
}
.main-btn-div .btn:first-of-type{
    margin-left: 2.5%;
}

.right{
    float: right;
}

.right button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  /*=========== new changes for status*/
  .uk-status{
    text-align: center;
  }
  .uk-status h3{
    margin:25px;
  }
  .uk-status img{
        width: 19px;
        margin: -45px 54%;
  }