body {
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/static-login/login_bg.jpg") left top no-repeat;
    background-size: 100% 100%;
    color: white;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.create-game{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 8%;
}
.uk-code{
    top:46px;    

}
.create-game input, .start-game input, .start-game select, .commence-game input, .restart input,.vr input{
    height: 100%;
}

.start-game{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 8%;
    display: none;
}

.commence-game{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 8%;
    display: none;
}

.restart{
    position: absolute;
    top: 55%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 8%;
}
.vr{
    position: absolute;
    top: 60%;
    left:0;
    text-align: center;
    width: 100%;
    height: 8%;
}

.button
{
    background: rgba(115, 97, 134, 0.74);
    border: 1px solid #7B8292;
    box-shadow: 0px 0px 5px #7B8292;
    color: #ffffff;
}

.right{
    float: right;
}

.right button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
.uk-status{
    position: absolute;
     z-index: 5;
    top: 49.5%;
    left: 57.5%;
}
.uk-status h3,#st_code{
    font-family: Arial;
}
.uk-status img{
    width:20px;
}


  /* =============== loader syles ===================*/
h3{
   color:white;
   position: absolute;
   z-index: 10;
   top:10%;
   left: 44%;
}
#loader{
    display: none;
}

.centered{
    z-index: 5;
    width: 100%;
    height: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#000;
    filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background:#fff;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.blob-1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
}
.blob-2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background:#0ff;
}
@keyframes osc-l{
    0%{left:20%;}
    50%{left:50%;}
    100%{left:20%;}
}
@keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
}
  /* =============== N loader syles ===================*/