*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: 'JackInput';
    src: url('JackInput.ttf');
    font-weight: normal;
    font-style: normal;
}

body, html
{
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'JackInput';
}

table
{
    width: 100%;
    height: 100%;
    text-align: center;
}

.table
{
    display: table;
    width: 100%;
    height: 100%;
}

.table2
{
    display: table;
    width: 100%;
    height: 50%;
}

.cell
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.main
{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear
{
    clear: both;
}

.button
{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #7B8292;
    box-shadow: 0px 0px 20px #7B8292;
}

.font-30
{
    font-size: 30px;
}

.font-40
{
    font-size: 50px;
}

.font-18
{
    font-size: 18px;
}

.font-16
{
    font-size: 16px;
}

.font-14
{
    font-size: 14px;
}

.font-13
{
    font-size: 13px;
}

.font-12
{
    font-size: 12px;
}

.font-11
{
    font-size: 11px;
}

.font-10
{
    font-size: 10px;
}

.width20
{
    width: 20%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    float: left;
}

.disableArea
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    opacity: 0.7;
    background: black;
}

.page
{
    height: 100%;
    width: 100%;
    position: relative;
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/bg.png") no-repeat;
    background-size: 100% 100%;

}

.page_splash
{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    /*background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/splash.png") no-repeat;*/
    /*background-size: 100% 100%;*/

}

.map
{
    height: 320px;
    width: 480px;
    position: relative;
    /*top: calc(50% - 160px);*/
    /*left: calc(50% - 240px);*/

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pin-container
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

}

.map img
{
    height: 100%;
    width: 100%;

}

.pin
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/pin.png");
    background-size: 100% 100%;
    /* FOR: 1.5x pin size */
    height: 32px;
    width: 32px;
    /* FOR: original pin size */
    /* height: 21px;
    width: 21px; */
    position: absolute;
    top: 0px;
    left: 0px;
}

.height-width
{
    height: 70px;
    width: 70px;
}

.trans-tile-middle
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/select_area.png");
    background-size: 100% 100%;
    position: absolute;
    height: 70px;
    width: 70px;
    /*top: 22px;*/
    /*left: 40px;*/
}

.trans-tile-bottom-double
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/Bottom_double.png");
    background-size: 100% 100%;
    position: absolute;
    height: 68px;
    width: 66px;
    /*top: 22px;*/
    /*left: 40px;*/
}

.trans-tile-left-single
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/left_single.png");
    background-size: 100% 100%;
    position: absolute;
    height: 58px;
    width: 63px;
    /*top: 22px;*/
    /*left: 40px;*/
}

.trans-tile-right-single
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/right_single.png");
    background-size: 100% 100%;
    position: absolute;
    height: 65px;
    width: 70px;
    /*top: 22px;*/
    /*left: 40px;*/
}

.trans-tile-left-double
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/left_double.png");
    background-size: 100% 100%;
    position: absolute;
    height: 74px;
    width: 65px;
    /*top: 22px;*/
    /*left: 40px;*/
}

.trans-tile-right-double
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/right_double.png");
    background-size: 100% 100%;
    position: absolute;
    height: 70px;
    width: 70px;
    /*top: 22px;*/
    /*left: 40px;*/
}

.trans-tile-top-single
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/top_single.png");
    background-size: 100% 100%;
    position: absolute;
    height: 72px;
    width: 67px;
    /*top: 22px;*/
    /*left: 40px;*/
}

/*popup*/

.buyPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.outer
{
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #7B8292;
    box-shadow: 0px 0px 5px #7B8292;
}

.inner
{
    width: 95%;
    height: 95%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #7B8292;
    box-shadow: 0px 0px 5px #7B8292;
    color: white;
}

.header-menu
{
    height: 100%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.purchase
{
    width: 40%;
    height: 13%;
    background: white;
    text-align: center;
    margin: 0 auto
}

.closeButton
{
    position: absolute;
    top: 10%;
    right: 0;
    width: 10%;
    height: 14%;
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/close_normal.png") no-repeat;
    background-size: 100% 100%;
}

/*Game Screen*/

.divider
{
    height: 1%;
    width: 100%;
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/dash_line.png") repeat-x;
    background-size: auto 100%;
}

.vertical_divider
{
    height: 70%;
    width: 100%;
    float: left;
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/dash_line.png") repeat-y;
    /*background-size: auto 100%;*/
    /*background-position: 20% 100%;*/
}

.page .header
{
    height: 26%;
}

.page .middle
{
    height: 42%;
    width: 100%;
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/tiles_bg.png") no-repeat;
    background-size: 100% 95%;
    overflow-x: auto;
    overflow-y: hidden;
}

.page .middle-container
{
    height: 96%;
    width: 100%;
    position: relative;
    top: 2%;
}

.page .footer
{
    height: 35%;
    width: 100%;
    position: relative;
    /*background: red;*/
}

.skill_level
{
    width: 20%;
    height: 90%;
    margin: 1%;
    /*font-size: 14px;*/
}

.development_level
{
    width: 27%;
    height: 90%;
    margin: 1%;
    /*font-size: 14px;*/
}

.menu
{
    width: 10%;
    height: 90%;
    margin: 1%;
    /*font-size: 14px;*/
    text-align: right;
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/more_normal.png");
    background-size: 100% 100%;
}

.menu_gap
{
    width: 64%;
    height: 90%;
    margin: 1%;
    /*font-size: 14px;*/
    text-align: right;
}

.blocks
{
    width: 20%;
    height: 100%;
}

.inner-block
{
    width: 40%;
}

.menu_gap .bricks
{
    background: url('http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/brick.png') no-repeat;
    background-size: 61% 100%;
}

.menu_gap .grain
{
    background: url('http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/grain.png') no-repeat;
    background-size: 61% 100%;
}

.menu_gap .sheep
{
    background: url('http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/sheep.png') no-repeat;
    background-size: 61% 100%;
}

.menu_gap .wood
{
    background: url('http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/wood.png') no-repeat;
    background-size: 61% 100%;
}

.menu_gap .fish
{
    background: url('http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/fish.png') no-repeat;
    background-size: 61% 100%;
}

.mv_level
{
    width: 15%;
    height: 90%;
    margin: 1%;
    font-size: 14px;
}

.credit_level
{
    width: 25%;
    height: 90%;
    margin: 1%;
    font-size: 14px;
}

.header-container
{
    height: 48%;
    width: 100%;
}

.dark-box
{
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 30%;
}

.dark-box-inner
{
    border: 1px solid #7B8292;
    box-shadow: 0px 0px 5px #7B8292;
    height: 90%;
    width: 90%;
    margin-top: 3%;
}

.dark-box-left
{
    height: 100%;
    width: 70%;
}

.dark-box-all
{
    height: 100%;
    width: 100%;
}

.section
{
    width: 20%;
    height: 100%;
    /*background: red;*/
    float: left;
}

.section_add
{
    width: 20%;
    height: 100%;
    /*background: red;*/
    float: left;
}

.progress-bar
{
    height: 10%;
    width: 100%;
}

.outer-loader
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/day_left_blank.png") left top no-repeat;
    width: 80%;
    height: 80%;
    background-size: 100% 100%;
    text-align: left;
    border-radius: 10px;
    position: relative;
}

.outer-loader-top
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/day_left-top.png") left top no-repeat;
    background-size: auto 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.inner-loader
{
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/day_left_green.png");
    width: 0%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 10px;
}

.tile-image
{
    height: 57%;
    width: 100%;
}

.tile-name
{
    /*height: 26%;*/
    height: 20%;
}

.tile-image-content
{
    top: 0%;
    left: 0%;
    font-size: 12px;
    position: relative;
}

.footer-container
{
    width: 90%;
    height: 80%;
    /*background: red;*/
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
}

.left_title
{
    float: left;
    width: 30%;
    margin-top: 3%;
    text-align: right;
}

.right_title
{
    float: left;
    width: 70%;
    margin-top: 3%;
    text-align: left;
}

.harvest_level
{
    width: 100%;
    height: 80%;
    /*margin: 1%;*/
    font-size: 12px;
}

.eradicate
{
    width: 100%;
    height: 80%;
    /*margin: 1%;*/
    font-size: 12px;
}

.btn_harvest
{
    width: 30%;
    height: 66%;
    font-size: 12px;
}

@media (min-width: 960px) and (max-width: 960px)
{
    .font-30
    {
        font-size: 45px;
    }

    .font-40
    {
        font-size: 50px;
    }

    .font-18
    {
        font-size: 30px;
    }

    .font-16
    {
        font-size: 30px;
    }

    .font-14
    {
        font-size: 24px;
    }

    .font-13
    {
        font-size: 26px;
    }

    .font-12
    {
        font-size: 17px;
    }

    .font-11
    {
        font-size: 16px;
    }

    .font-10
    {
        font-size: 15px;
    }

    .input-field input[type=text]::-webkit-input-placeholder
    {
        font-size: 20px;
    }

    .input-field input[type=tel]::-webkit-input-placeholder
    {
        font-size: 20px;
    }

    .input-field input[type=password]::-webkit-input-placeholder
    {
        font-size: 20px;
    }

}

.selectedArrow
{
    position: relative;
}

.counterScale
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 11;
    background: rgba(0, 0, 0, 1);
}

.offerPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.offerListPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 8;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.tradeListPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 8;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.offerListPopup .header
{
    height: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.offerListPopup .content
{
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;
}

.chiefPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.chiefPopup .header
{
    height: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.chiefPopup .content
{
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.gameOverpopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.gameOverpopup .header
{
    height: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.gameOverpopup .content
{
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.myHarvestListPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.myHarvestListPopup .header
{
    height: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.myHarvestListPopup .content
{
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.skill_levelPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.skill_levelPopup .header
{
    height: 15%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.skill_levelPopup .content
{
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.dev_pointsPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.dev_pointsPopup .header
{
    height: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.dev_pointsPopup .content
{
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.bountyPopup
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    /*opacity: 0.9;*/
    background: rgba(0, 0, 0, 0.9);
}

.bountyPopup .header
{
    height: 15%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.bountyPopup .content
{
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.bountyPopupButton
{
    width: 45%;
    height: 100%;
    display: inline-block;
}

.bountyMsg
{
    height: 50%;
    width: 100%;
}

.offerPopupButton
{
    width: 31%;
    height: 100%;
    display: inline-block;
}

.chiefPopupButton
{
    width: 31%;
    height: 70%;
    display: inline-block;
}

.offerPopupButtonClose
{
    width: 31%;
    height: 100%;
    display: inline-block;
}

.inline-block
{
    display: inline-block;
}

.offerPopupButton .button
{
    width: 90%;
    height: 50%;
}

.headerText
{
    width: 100%;
    float: left;
    height: 10%
}

.offerMsg
{
    height: 50%;
    width: 100%;
}

.chiefMsg
{
    height: 50%;
    width: 100%;
}

.header-menu-offer
{
    height: 100%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.offerPopupKeyur
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}

.tutorial
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url("http://d2ow6rbiq7r6k4.cloudfront.net/images/website-game/bg.png") no-repeat;
    background-size: 100% 100%;
    display: none;
}

.tutorial .close
{
    position: absolute;
    top: 2%;
    right: 2%;
    text-decoration: underline;
    z-index: 9999;
}

.tutorial .next
{
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 9999;
    text-decoration: underline;
}

.tutorial .prev
{
    position: absolute;
    bottom: 2%;
    left: 2%;
    z-index: 9999;
    text-decoration: underline;
}

.tutorial img
{
    height: 100%;
    width: 100%;
}

.pauseGameOverlay
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    z-index: 9999999;
}
.disconnectOverlay
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999999;
}

.section-container
{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    text-transform: capitalize;
}

.skill_levelPopup .section-container:last-child
{
    height: 20%;
    width: 100%;
    border-bottom: none;
    text-transform: capitalize;
}

.dev_pointsPopup .section-container:last-child
{
    height: 20%;
    width: 100%;
    border-bottom: none;
    text-transform: capitalize;
}

.submit_name
{
    height: 10%;
    width: 100%;
    float: left;
}

.submit_name input
{
    height: 100%;
    width: 100%;
    float: left;
}

.skip
{
    position: absolute;
    top: 3%;
    left: 2%;
    color: white;
    text-decoration: underline;
    z-index: 8;
}

.timer
{
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    z-index: 8;
}

.back
{
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    text-decoration: underline;
    z-index: 8;
}

.remaining_credits
{
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: white;
    z-index: 8;
}

.leftDiv
{
    width: 25%;
    height: 100%;
}

.rightDiv
{
    width: 70%;
    height: 100%;
}

.deliver_button
{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #7B8292;
    box-shadow: 0px 0px 5px #7B8292;
    width: 80%;
    color: white;
    height: 70%;
}

.deliver_button:disabled
{

    border: 1px solid #303133;
    box-shadow: 0px 0px 5px #7B8292;
    width: 80%;
    color: #868686;
    height: 70%;
}

.button_container
{
    height: 10%;
    width: 100%;
}

.thumbnail
{
    width: 29%;
    /*height: 25%;*/
    display: inline-block;
    margin: 2%;
}

.thumbnail img
{
    width: 95%;
    height: 25%;
}

.headerYoutube
{
    height: 15%;
}

.youtubeVideoscontent
{
    height: 85%;
    overflow-y: auto;
}

.backfromyoutube
{
    float: left;
    width: 20%;
    text-align: center;
}

._backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 990;
  }

.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color:rgba(0,0,0,0.5);
    display: none;
}

.iframe-close{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;
    font-family: 'MyriadPro-Regular';
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

.iframe-close:hover{
    color: #f2b407;
}

.next-btn {
    font-family: 'Barlow Condensed', sans-serif !important;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    width: 35%;
    height: 48px;
    background-color: #4f1f3b;
    border: none;
    line-height: 52px;
    cursor: pointer;
}